.willpower,
.bloodpool {
  border: red 5px solid;
  overflow-x: visible;
}

.bloodpoolchx,
.willpowerchx {
  border: red 5px solid;
  overflow: inherit;
}

.sheetBottomMid,
.sheetBottomLeft,
.sheetBottomRight {
  border: red 5px solid;
}
